.bbc_hide
    background-color: rgb(249,248,253)
    margin: 1em 40px 1em 0
    border: 1px solid rgb(205,194,234)
    border-radius: 1px
    overflow: auto
    border-color: rgb(205,194,234)


.bbc_hide_header
    font-size: 13px
    color: rgb(62,52,93)
    background-color: #FFF
    background-repeat: repeat-x
    background-position: top
    padding: 10px
    border-bottom: 1px solid rgb(205,194,234)
    border-left: 2px solid rgb(77,58,129)


.bbc_hide_content
    overflow: hidden
    position: relative
    background-color: rgb(249,248,253)
    background-repeat: repeat-x
    background-position: top
    padding: 10px
    border-left: 2px solid rgb(77,58,129)


.bbc_hide_closed .bbc_hide_header
      border-left: 2px solid rgb(234, 9, 57)


.bbc_hide_closed .bbc_hide_content
      border-left: 2px solid rgb(234, 9, 57)
      font-style: italic
      font-size: 9pt


.bbc_hide_open .bbc_hide_header
     border-left: 2px solid rgb(48, 148, 30)


.bbc_hide_open .bbc_hide_content
     border-left: 2px solid rgb(48, 148, 30)
